/* Start of Global Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* End of Global Styling */
  
/* Start of Full Body Section Styling */
body {
    font-family: Helvetica, Arial, sans-serif;
}
/* End of Full Body Section Styling */
  
/* Start of Header Section Styling */
header {
    padding: 20px 35px;
    background-color: #024e76;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header a {
    text-decoration: none;
    color: #fce138;
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header nav ul li a:hover {
    color: red;
    border-radius: 15px;
    text-shadow: none;
}  
/* End of Header Section Styling */
  
/* Start of Footer Section Styling */
footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
  
footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
/* End of Footer Section Styling */
  
/* Section Styling */
section {
    padding: 60px;
}
  
/* Start of Hero Section Styling */
.hero {
    background-image: url('../images/alvaro-pinot-czDvRp5V2b0-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;    
}

.hero h2 {
    font-style: normal;
    font-size: 30px;
    color: #024e76;
    float: right;
    background-color: #fce138;
}
/* End of Hero Section Styling */
    
/* Start of Section Content Styling */
.section {
    background-color: #024e76;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 48px;
    border-right: 3px solid;
    color: #fce138;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 20%;
    text-align: right;

}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 80%;
}

.flex-row2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section p, .section a {
    line-height: 1.5;
    color: #fce138;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    padding: 0 15px 0 15px;
}

.subtitle {
    font-size: 15px;
}

.main-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.side-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    flex-direction: row;
}

.surf-report {
    background-image: url(../images/victoria-palacios-scIXeTCipZA-unsplash.jpg);
    background-size: cover;
    
}

.led-wall {
    background-image: url(../images/eugene-chystiakov-xhXj7EDX6EY-unsplash.jpg);
    background-size: cover;
}

.calculator {
    background-image: url(../images/recha-oktaviani-h2aDKwigQeA-unsplash.jpg);
    background-size: cover;
}

.pastel-puzzles {
    background-image: url(../images/peter-f-XURJBJi_wDE-unsplash.jpg);
    background-size: cover;
}

.run-buddy {
    background-image: url(../images/Screen\ Shot\ 2021-05-02\ at\ 5.19.30\ AM.png);
    background-size: cover;
}

/* End of About Me Styling */
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

    .section-title {
      width: 20%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .section p {
      width: 100%;
    }

    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  }
  